services:
  doodat:
    build:
      context: .
    environment:
      - NODE_ENV=development
      - EXPO_NO_TELEMETRY=1
    ports:
      - "8081:8081"
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
    tty: true
    stdin_open: true
    volumes:
      - ./:/app
      - /app/node_modules
    command: ["sh","-lc","npm install && npx expo start --tunnel --clear"]

